
/* MOBILE */
@media (max-width: 767px){
	[class*="col-"] {
		max-width: 100%;
		flex:none;
	}

	/* Header Container Menú */
	.uno li {
		float: left;
		list-style: none;
		margin-top: 1em;	
		margin-left: 2em;
	}

	/* Sección Container */
	.tres{
		width: 95%;
  	margin-right: auto;
  	margin-left: auto;
  	padding: 2em;
  	line-height: 1.5em;
  }
	
	.tres h1 {
		margin-bottom: 0.5em;
	}

  .tresb h1{
		margin-bottom: 0.5em;
  }

	/* Sección Container Imágenes */
	.cuatro {
		width: 90%;
		margin-right: auto;
  	margin-left: auto;
  	line-height: 1.5em;
	}

	.cuatro h3 {
		width: 90%;
		margin-top: 0.2em;
		margin-right: auto;
		margin-bottom: 0.2em;
  	margin-left: auto;
  	line-height: 2em;
	}

	.cuatro p {
		width: 90%;
		margin-right: auto;
  	margin-left: auto;
  	line-height: 1.5em;
	}
	
	.cuatro button {
		margin-top: 2em;
		margin-right: auto;
  	margin-left: 1em;
  	line-height: 1em;
	}

	.cuatro img {
		width: 100%;
	}
	/* Botones */
	button {
		margin: 0.5em 0 3em;
	}
}


/* MENÚ HAMBURGUESA */
@media (min-width: 767px) and (max-width: 1600px) {
	#icono {
		visibility: hidden;
	}
	.lista {
		visibility: visible;
	}
}

@media (min-width: 1px) and (max-width: 766px) {
	#icono {
		visibility: visible;
		margin-left: 7em;
	}

	.lista {
		visibility: hidden;
	}
}


/* NAVEGADOR DE COMPUTADOR */
@media (min-width: 768px){
	/* Header Container Menú */
	.uno {
		padding: 1em;
	}

	.uno li {
		float: left;
		margin-left: 2.5em;
		list-style: none;
	}
	
	/* Sección Container */
	.tres{
		width: 85%;
  	margin-right: auto;
  	margin-left: auto;
  	padding: 2em;
  	line-height: 2em;
  }

  .tresb {
  	padding-left: 6em;
  }

	/* Sección Container Imágenes */
	.cuatro {
		width: 85%;
		margin-right: auto;
  	margin-left: auto;
  	line-height: 2em;
	}

	.cuatro img {
		width: 85%;
		text-align: center;
		margin-right: 1.5em;
  	margin-left: 1.5em;
	}

	.cuatro h3 {
		width: 75%;
		margin-top: 0.5em;
		margin-right: auto;
		margin-bottom: 0.5em;
  	margin-left: auto;
  	line-height: 2em;
	}

	.cuatro p {
		width: 75%;
		margin-right: auto;
  	margin-left: auto;
  	line-height: 2em;
	}
	
	.cuatro button {
		margin-right: auto;
  	margin-left: 3em;
  	line-height: 1em;
	}

	/* Botones */
	button {
		margin: 1em 0 3em;
	}
}